################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/Back/.vs/WebApplication1/FileContentIndex/ce38eba9-184f-45b0-9f37-5367b0c605ae.vsidx
/Back/.vs/WebApplication1/FileContentIndex/94a7e129-697b-4504-b888-16681a706982.vsidx
/Back/.vs/WebApplication1/FileContentIndex/7aa6e6d7-f73f-4bdd-9c91-09d01852e4ba.vsidx
/Back/.vs/WebApplication1/FileContentIndex
